<div class="calendar">
  <h2>Calendar for {{ currentMonthName }} {{ currentYear }}</h2>
  <div class="days-header">
    <span>Sun</span>
    <span>Mon</span>
    <span>Tue</span>
    <span>Wed</span>
    <span>Thu</span>
    <span>Fri</span>
    <span>Sat</span>
  </div>
  <div class="days-content">
    <ng-container *ngFor="let week of weeks">
      <div class="week">
        <span *ngFor="let day of week">
          <a *ngIf="day !== null" class="day-link" href="#" (click)="openDialog(day)">Day {{ day }}</a>
        </span>
      </div>
    </ng-container>
  </div>
</div>

<!-- Modal Dialog -->
<div id="myModal" class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeDialog()">&times;</span>
    <p>Details for Day {{ selectedDay }}</p>
    <input [(ngModel)]="inputText" placeholder="Enter details">
    <button (click)="saveDetails()">Save</button>
  </div>
</div>
